<h1>Admin Dashboard</h1>

<h3>Current Projects</h3>

<table id='projects' class="highlight">
  <thead>
    <tr>
      <th data-field="id">Project</th>
      <th data-field="name">Date Created</th>
      <th data-field="current_status">Current Status</th>
      <th data-field="adjust_status">Adjust Status</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project %></td>
        <td><%= project.created_at.strftime("%B %d, %Y") %></td>
        <td><%= project.status unless project.status.nil? %></td>

        <td>Placeholder for Change Status
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
