<h1 class="center-align">Account Index</h1>

<br>

<div class="account-types container">
  <%= button_to 'Lender Dashboard', lender_dashboard_path, method: :get, class: 'col s5 left waves-effect waves-light btn custom-green lender-btn' %>
  <%= button_to 'Borrower Dashboard', borrower_dashboard_path, method: :get, class: 'col s5 right waves-effect waves-light btn custom-blue borrower-btn' %>
</div>
