<h1 class="center-align">Choose an Account Type</h1>

<br>

<div class="account-types container">
  <%= button_to 'Create Lender Account', new_lender_path, method: :get, class: 'col s5 left waves-effect waves-light btn custom-green lender-btn' %>
  <%= button_to 'Create Borrower Account', new_borrower_path, method: :get, class: 'col s5 right waves-effect waves-light btn custom-blue borrower-btn' %>
</div>
