.side-margin-15 {
  margin: 0 15px 0 15px;
}
.top-margin-40 {
  margin-top: 40px;
}
.bottom-margin-20 {
  margin-bottom: 20px;
}
.alert {
  padding: 5px 20px;
}
.max-width{
  max-width: 300px;
}
.thumbnail {
  max-width: 80px;
}

.custom-orange {
  background-color: #FF9933 !important;
}

.custom-green {
  background-color: #138808 !important;
}

.custom-blue {
  background-color: #000080 !important;
}
