<h1>Project Categories</h1>

<div class="collection">
  <% @categories.each do |cat| %>
    <div class="collection-item">
      <%= link_to cat.title.capitalize, category_path(cat) %>
    </div>
  <% end %>
</div>
