<footer class="page-footer custom-orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Overview</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">How It Works</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Lend</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Developers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright GaneshaLoans
    </div>
  </div>
</footer>
